.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.profile-stats-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.profile-stats-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 450px;
    margin: 10px;
    background-color: rgba(17, 17, 49, 0.562);
    border-radius: 25px;
}

.profile-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}
/* media queries */

@media (max-width: 768px) {
    .profile-wrapper {
        width: 100%;
    }
    .profile-stats-element{
        width: 90%;
        height: 300px;
    }
}