.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.searchbar-container input[type="text"]{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* media queries */

@media (max-width: 768px) {
    .searchbar-container{
        flex-direction: column;
        align-items: center;
    }
    .searchbar-container input[type="text"]{
        margin-right: 0;
        margin-bottom: 10px;
    }
}